<div class="col-md-4" *ngFor="let clase of clases">
  <div class="card text-center mb-2">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{clase.nombre}}
      <div>
      <a [routerLink]  = "['/clases/', clase.id_clase, 'show']" class="btn btn-info mr-2">
        <i class="fa fa-eye"></i>
      </a>
      <button class="btn btn-danger float-right" (click)="deleteClase(clase.id_clase)">
        <i class="fa fa-trash-alt"></i>
      </button>
      <a [routerLink]  = "['/clases/edit', clase.id_clase]" class="btn btn-info mr-2">
        <i class="fa fa-pen-square"></i>
      </a>
      </div>
    </div>
    <div class="card-body">
      <p>{{clase.nombre}} {{clase.curso}}</p>
    </div>
  </div>
</div>
