<div class="col-md-8 border border-secondary rounded">
  <form>
    <div class="form-group mt-4">
      <input type="text" name="nombre" [(ngModel)]="clase.nombre" class="form-control" id="nombre" placeholder="Nombre de la clase" required>
    </div>
    <div class="form-group">
      <select id="id_calendario" name="id_calendario" [(ngModel)]="clase.id_calendario">
        <option *ngFor="let c of calendario" value={{c.id_calendario}}>{{c.fecha_inicio}} - {{c.fecha_fin}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="number" name="curso" [(ngModel)]="clase.curso" class="form-control" id="curso" placeholder="Curso de la clase" required>
    </div>
    <button type="submit" class="btn btn-primary mb-4" (click)="edit ? updateClase() : saveNewClase()">Guardar</button>
  </form>
</div>
